@import "variables.css";

.button {
  /* common button styles here */
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Button types */
.button--primary {
  border-radius: var(--border-radius-round);
  border: 1px solid var(--colour-button-primary-default-border);
  background: var(--colour-button-primary-default-bg);
  color: var(--colour-button-primary-default-fg);
}
.button--secondary {
  border-radius: var(--border-radius-round);
  border: 1px solid var(--colour-button-secondary-default-border);
  background: var(--colour-button-secondary-default-bg);
  color: var(--colour-button-secondary-default-fg);
}
.button--tertiary {
  border-radius: var(--border-radius-round);
  border: 1px solid var(--colour-button-tertiary-default-border);
  background: var(--colour-button-tertiary-default-bg);
  color: var(--colour-button-tertiary-default-fg);
}
.button--ghost {
  border-radius: var(--border-radius-round);
  border: 1px solid var(--colour-button-ghost-default-border);
  background: var(--colour-button-ghost-default-bg);
  color: var(--colour-button-ghost-default-fg);
}
.button--danger {
  border-radius: var(--border-radius-round);
  border: 1px solid var(--colour-button-danger-default-border);
  background: var(--colour-button-danger-default-bg);
  color: var(--colour-button-danger-default-fg);
}

/* Button sizes */
.button--small {
  padding: var(--spacing-space-3) var(--spacing-space-7);
  gap: var(--spacing-space-3);
  font-size: 14px;
  line-height: 20px;
}

.button--small.button--with-icon {
  padding: var(--spacing-space-3) var(--spacing-space-5) var(--spacing-space-3)
    var(--spacing-space-7); /* 6px 12px 6px 20px */
}

.button--small .button-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.button--medium {
  padding: var(--spacing-space-4) var(--spacing-space-8);
  gap: var(--spacing-space-4);
  font-size: 16px;
  line-height: 24px;
}

.button--medium.button--with-icon {
  padding: var(--spacing-space-4) var(--spacing-space-6) var(--spacing-space-4)
    var(--spacing-space-8); /* 8px 16px 8px 24px */
}

.button--medium .button-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

/* Button with icon */
.button--with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover states for each button type */
.button--primary:hover {
  border: 1px solid var(--colour-button-primary-hover-border);
  background: var(--colour-button-primary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}
.button--secondary:hover {
  border: 1px solid var(--colour-button-secondary-hover-border);
  background: var(--colour-button-secondary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}
.button--tertiary:hover {
  border: 1px solid var(--colour-button-tertiary-hover-border);
  background: var(--colour-button-tertiary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}
.button--ghost:hover {
  border: 1px solid var(--colour-button-ghost-hover-border);
  background: var(--colour-button-ghost-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}
.button--danger:hover {
  border: 1px solid var(--colour-button-danger-hover-border);
  background: var(--colour-button-danger-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

/* Focus states for each button type */
.button--primary:focus-visible {
  border: 1px solid var(--colour-button-primary-focus-border);
  background: var(--colour-button-primary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}
.button--secondary:focus-visible {
  border: 1px solid var(--colour-button-secondary-focus-border);
  background: var(--colour-button-secondary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}
.button--tertiary:focus-visible {
  border: 1px solid var(--colour-button-tertiary-focus-border);
  background: var(--colour-button-tertiary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}
.button--ghost:focus-visible {
  border: 1px solid var(--colour-button-ghost-focus-border);
  background: var(--colour-button-ghost-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}
.button--danger:focus-visible {
  border: 1px solid var(--colour-button-danger-focus-border);
  background: var(--colour-button-danger-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #dd515b;
}

/* Press states for each button type */
.button--primary:active {
  border: 1px solid var(--colour-button-primary-press-border);
  background: var(--colour-button-primary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}
.button--secondary:active {
  border: 1px solid var(--colour-button-secondary-press-border);
  background: var(--colour-button-secondary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}
.button--tertiary:active {
  border: 1px solid var(--colour-button-tertiary-press-border);
  background: var(--colour-button-tertiary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}
.button--ghost:active {
  border: 1px solid var(--colour-button-ghost-press-border);
  background: var(--colour-button-ghost-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}
.button--danger:active {
  border: 1px solid var(--colour-button-danger-press-border);
  background: var(--colour-button-danger-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

/* Disabled states for each button type */
.button--primary:disabled {
  border: 1px solid var(--colour-button-primary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-primary-default-bg);
}
.button--secondary:disabled {
  border: 1px solid var(--colour-button-secondary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-secondary-default-bg);
}
.button--tertiary:disabled {
  border: 1px solid var(--colour-button-tertiary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-tertiary-default-bg);
}
.button--ghost:disabled {
  border: 1px solid var(--colour-button-ghost-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-ghost-default-bg);
}
.button--danger:disabled {
  border: 1px solid var(--colour-button-danger-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-danger-default-bg);
}


@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
