@import "variables.css";

@media (min-width: 1368px){
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--colour-bg-default);
  min-width: calc(var(--grid-breakpoint-2-xl) + 48px);
}

.header .container {
  display: flex;
  overflow: hidden;
  width: var(--grid-breakpoint-2-xl);
  padding: var(--spacing-space-8);
  align-items: flex-end;
  gap: var(--spacing-space-11);
}

.header .container .logo-wrapper {
  padding: 12px 12px 0px 0px;
  overflow: hidden;
  flex-grow: 0;
}

.header .container .logo-instance {
  width: 132px;
  height: 40px;
}

.header .container .search-wrapper {
  flex-grow: 1;
}

.header .container .buttons {
  flex-grow: 0;
  display: flex;
  gap: var(--spacing-space-8);
}
}

@media (max-width: 1368px) {
  .header {
    display: flex;
    min-width: var(--grid-breakpoint-lg);
    max-width: var(--grid-breakpoint-2-xl);
    flex-direction: column;
    align-items: center;
    background: var(--colour-bg-default);
  }
  
  .header .container {
    display: flex;
    padding: var(--spacing-space-8);
    align-items: flex-end;
    gap: var(--spacing-space-11);
    align-self: stretch;
    width: fill;
  }
  
  .header .container .logo-wrapper {
    overflow: hidden;
    flex-grow: 0;
    padding: 12px 12px 0px 0px;
  }
  
  .header .container .logo-instance {
    width: 132px;
    height: 40px;
  }
  
  .header .container .search-wrapper {
    flex-grow: 1;
  }
  
  .header .container .buttons {
    display: flex;
    overflow: hidden;
    flex-grow: 0;
    gap: var(--spacing-space-8);
  }
}
