@import "variables.css";

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-round);
  cursor: pointer;
}

/* Icon button types */
.icon-button--primary {
  border: 1px solid var(--colour-button-primary-default-border);
  background: var(--colour-button-primary-default-bg);
  color: var(--colour-button-primary-default-fg);
}

.icon-button--secondary {
  border: 1px solid var(--colour-button-secondary-default-border);
  background: var(--colour-button-secondary-default-bg);
  color: var(--colour-button-secondary-default-fg);
}

.icon-button--tertiary {
  border: 1px solid var(--colour-button-tertiary-default-border);
  background: var(--colour-button-tertiary-default-bg);
  color: var(--colour-button-tertiary-default-fg);
}

.icon-button--ghost {
  border: 1px solid var(--colour-button-ghost-default-border);
  background: var(--colour-button-ghost-default-bg);
  color: var(--colour-button-ghost-default-fg);
}

.icon-button--danger {
  border: 1px solid var(--colour-button-danger-default-border);
  background: var(--colour-button-danger-default-bg);
  color: var(--colour-button-danger-default-fg);
}

/* Icon button sizes */
.icon-button--small {
  padding: var(--spacing-space-3);
  gap: var(--spacing-space-3);
}

.icon-button--small .button-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.icon-button--medium {
  padding: var(--spacing-space-4);
  gap: var(--spacing-space-4);
}

.icon-button--medium .button-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

/* Hover states for each button type */
.icon-button--primary:hover {
  border: 1px solid var(--colour-button-primary-hover-border);
  background: var(--colour-button-primary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

.icon-button--secondary:hover {
  border: 1px solid var(--colour-button-secondary-hover-border);
  background: var(--colour-button-secondary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

.icon-button--tertiary:hover {
  border: 1px solid var(--colour-button-tertiary-hover-border);
  background: var(--colour-button-tertiary-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

.icon-button--ghost:hover {
  border: 1px solid var(--colour-button-ghost-hover-border);
  background: var(--colour-button-ghost-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

.icon-button--danger:hover {
  border: 1px solid var(--colour-button-danger-hover-border);
  background: var(--colour-button-danger-hover-bg);
  transition: background var(--motion-duration-medium-1)
      var(--motion-easing-standard),
    border var(--motion-duration-medium-1) var(--motion-easing-standard);
}

/* Focus states for each button type */
.icon-button--primary:focus-visible {
  border: 1px solid var(--colour-button-primary-focus-border);
  background: var(--colour-button-primary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}

.icon-button--secondary:focus-visible {
  border: 1px solid var(--colour-button-secondary-focus-border);
  background: var(--colour-button-secondary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}

.icon-button--tertiary:focus-visible {
  border: 1px solid var(--colour-button-tertiary-focus-border);
  background: var(--colour-button-tertiary-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}

.icon-button--ghost:focus-visible {
  border: 1px solid var(--colour-button-ghost-focus-border);
  background: var(--colour-button-ghost-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #4876ce;
}

.icon-button--danger:focus-visible {
  border: 1px solid var(--colour-button-danger-focus-border);
  background: var(--colour-button-danger-focus-bg);
  outline: none;
  box-shadow: 0px 0px 0px 4px #dd515b;
}

/* Press states for each button type */
.icon-button--primary:active {
  border: 1px solid var(--colour-button-primary-press-border);
  background: var(--colour-button-primary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

.icon-button--secondary:active {
  border: 1px solid var(--colour-button-secondary-press-border);
  background: var(--colour-button-secondary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

.icon-button--tertiary:active {
  border: 1px solid var(--colour-button-tertiary-press-border);
  background: var(--colour-button-tertiary-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

.icon-button--ghost:active {
  border: 1px solid var(--colour-button-ghost-press-border);
  background: var(--colour-button-ghost-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

.icon-button--danger:active {
  border: 1px solid var(--colour-button-danger-press-border);
  background: var(--colour-button-danger-press-bg);
  transition: all var(--motion-duration-short-1) ease-out;
}

/* Disabled states for each button type */
.icon-button--primary:disabled {
  border: 1px solid var(--colour-button-primary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-primary-default-bg);
}
.icon-button--secondary:disabled {
  border: 1px solid var(--colour-button-secondary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-secondary-default-bg);
}
.icon-button--tertiary:disabled {
  border: 1px solid var(--colour-button-tertiary-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-tertiary-default-bg);
}
.icon-button--ghost:disabled {
  border: 1px solid var(--colour-button-ghost-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-ghost-default-bg);
}
.icon-button--danger:disabled {
  border: 1px solid var(--colour-button-danger-default-border);
  opacity: 0.30000001192092896;
  background: var(--colour-button-danger-default-bg);
}
