@import "variables.css";

/* Desktop-Large */

.navigation-bar {
  display: flex;
  min-width: var(--grid-breakpoint-2-xl);
  padding: var(--spacing-space-2) 0px;
  align-items: center;
  background: var(--colour-bg-body-alt);
  border: 1px solid blue;
  align-self: stretch;
}

.navigation-bar .nav-container {
  display: flex;
  padding: 0px var(--spacing-space-8);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.navigation-bar .nav-container .nav {
  display: flex;
  width: calc(var(--grid-breakpoint-2-xl) - var(--spacing-space-8) * 2);
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-space-8);
}

/* Full */

@media (max-width: 1320px) {
.navigation-bar {
  display: flex;
  min-width: var(--grid-breakpoint-lg);
  max-width: var(--grid-breakpoint-2-xl);
  padding: 4px 0px;
  align-items: center;
  align-self: stretch;
  background: var(--colour-bg-body-alt);
  border: 1px solid red;
}

.navigation-bar .nav-container {
  display: flex;
  padding: 0px var(--spacing-space-8);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}

.navigation-bar .nav-container .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-space-6);
}
}