@import "variables.css";

.search {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search label {
  display: flex;
  align-items: center;
  gap: 6px;

  color: var(--colour-fg-muted);

  font-family: var(--label-sm-regular-font-family);
  font-size: var(--label-sm-regular-font-size);
  font-style: var(--label-sm-regular-font-style);
  font-weight: var(--label-sm-regular-font-weight);
  line-height: var(--label-sm-regular-line-height);
}

.search .form-label {
  padding-bottom: var(--spacing-space-3);
}

.search .form-helper-text,
.search .form-error-text {
  padding-top: var(--spacing-space-3);
}

.search .form-error-text {
  color: var(--colour-fg-danger);
}

.search .has-error-false,
.search .has-error-true {
  display: flex;
  padding: var(--spacing-space-4) var(--spacing-space-11) var(--spacing-space-4)
    var(--spacing-space-6);
  align-items: center;
  gap: var(--spacing-space-3);
  align-self: stretch;
  border-radius: var(--border-radius-round);
  background: var(--colour-bg-field);
}

.search .has-error-true {
  border: 1px solid var(--colour-border-danger);
}

.search .has-error-false.state-default,
.search .has-error-false.state-filled {
  border: 1px solid var(--colour-border-strong);
}

.search .has-error-false.state-focus {
  border: 1px solid var(--colour-border-interactive);

  /* focus/default */
  box-shadow: var(--focus-default);
  outline: none;
}

.search .has-error-true.state-focus {

  /* focus/default */
  box-shadow: var(--focus-danger);
  outline: none;
}

.search .input-field {

  border: 0px;
  outline: none;

  font-family: var(--label-md-regular-font-family);
  font-size: var(--label-md-regular-font-size);
  font-style: var(--label-md-regular-font-style);
  font-weight: var(--label-md-regular-font-weight);
  line-height: var(--label-md-regular-line-height);
}

.search .input-field::placeholder {
  color: var(--colour-fg-placeholder);
}

.search .state-focus .input-field {
  color: var(--colour-fg-default);

}

.search .search-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.search .typing-indicator-instance {
  min-width: 1px !important;
  position: relative !important;
  width: unset !important;
}

.search .x-close {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  cursor: pointer;
}

.search.disabled {
  opacity: 0.3;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-icon, .x-close {
  flex: 0 0 auto;
}

.input-field {
  flex: 1 0 auto;
  margin-left: var(--spacing-space-3); /* adjust these margins to your needs */
  margin-right: var(--spacing-space-3); /* adjust these margins to your needs */
}
