:root {
    /* Fonts */
    --font-work-sans: 'Work Sans';
    --font-weight: 600;

    /* Typography styles */

    /* Small */
    --label-sm-regular-font-family: 'Work Sans';
    --label-sm-regular-font-size: 14px;
    --label-sm-regular-font-style: normal;
    --label-sm-regular-font-weight: 400;
    --label-sm-regular-line-height: 20px;

    --label-sm-medium-font-family: 'Work Sans';
    --label-sm-medium-font-size: 14px;
    --label-sm-medium-font-style: normal;
    --label-sm-medium-font-weight: 500;
    --label-sm-medium-line-height: 20px;

    --label-sm-bold-font-family: 'Work Sans';
    --label-sm-bold-font-size: 14px;
    --label-sm-bold-font-style: normal;
    --label-sm-bold-font-weight: 600;
    --label-sm-bold-line-height: 20px;

    --label-sm-regular-underline-font-family: 'Work Sans';
    --label-sm-regular-underline-font-size: 14px;
    --label-sm-regular-underline-font-style: normal;
    --label-sm-regular-underline-font-weight: 400;
    --label-sm-regular-underline-line-height: 20px;
    --label-sm-regular-underline-text-decoration-line: underline;

    --label-sm-medium-underline-font-family: 'Work Sans';
    --label-sm-medium-underline-font-size: 14px;
    --label-sm-medium-underline-font-style: normal;
    --label-sm-medium-underline-font-weight: 500;
    --label-sm-medium-underline-line-height: 20px;
    --label-sm-medium-underline-text-decoration-line: underline;

    --label-sm-bold-underline-font-family: 'Work Sans';
    --label-sm-bold-underline-font-size: 14px;
    --label-sm-bold-underline-font-style: normal;
    --label-sm-bold-underline-font-weight: 600;
    --label-sm-bold-underline-line-height: 20px;
    --label-sm-bold-underline-text-decoration-line: underline;


    /* Medium */
    --label-md-regular-font-family: 'Work Sans';
    --label-md-regular-font-size: 16px;
    --label-md-regular-font-style: normal;
    --label-md-regular-font-weight: 400;
    --label-md-regular-line-height: 24px;

    --label-md-medium-font-family: 'Work Sans';
    --label-md-medium-font-size: 16px;
    --label-md-medium-font-style: normal;
    --label-md-medium-font-weight: 500;
    --label-md-medium-line-height: 24px;

    --label-md-bold-font-family: 'Work Sans';
    --label-md-bold-font-size: 16px;
    --label-md-bold-font-style: normal;
    --label-md-bold-font-weight: 600;
    --label-md-bold-line-height: 24px;

    --label-md-regular-underline-font-family: 'Work Sans';
    --label-md-regular-underline-font-size: 16px;
    --label-md-regular-underline-font-style: normal;
    --label-md-regular-underline-font-weight: 400;
    --label-md-regular-underline-line-height: 24px;
    --label-md-regular-underline-text-decoration-line: underline;

    --label-md-medium-underline-font-family: 'Work Sans';
    --label-md-medium-underline-font-size: 16px;
    --label-md-medium-underline-font-style: normal;
    --label-md-medium-underline-font-weight: 500;
    --label-md-medium-underline-line-height: 24px;
    --label-md-medium-underline-text-decoration-line: underline;

    --label-md-bold-underline-font-family: 'Work Sans';
    --label-md-bold-underline-font-size: 16px;
    --label-md-bold-underline-font-style: normal;
    --label-md-bold-underline-font-weight: 600;
    --label-md-bold-underline-line-height: 24px;
    --label-md-bold-underline-text-decoration-line: underline;

    /* Large */
    --label-lg-regular-font-family: 'Work Sans';
    --label-lg-regular-font-size: 18px;
    --label-lg-regular-font-style: normal;
    --label-lg-regular-font-weight: 400;
    --label-lg-regular-line-height: 28px;

    --label-lg-medium-font-family: 'Work Sans';
    --label-lg-medium-font-size: 18px;
    --label-lg-medium-font-style: normal;
    --label-lg-medium-font-weight: 500;
    --label-lg-medium-line-height: 28px;

    --label-lg-bold-font-family: 'Work Sans';
    --label-lg-bold-font-size: 18px;
    --label-lg-bold-font-style: normal;
    --label-lg-bold-font-weight: 600;
    --label-lg-bold-line-height: 28px;

    --label-lg-regular-underline-font-family: 'Work Sans';
    --label-lg-regular-underline-font-size: 18px;
    --label-lg-regular-underline-font-style: normal;
    --label-lg-regular-underline-font-weight: 400;
    --label-lg-regular-underline-line-height: 28px;
    --label-lg-regular-underline-text-decoration-line: underline;

    --label-lg-medium-underline-font-family: 'Work Sans';
    --label-lg-medium-underline-font-size: 18px;
    --label-lg-medium-underline-font-style: normal;
    --label-lg-medium-underline-font-weight: 500;
    --label-lg-medium-underline-line-height: 28px;
    --label-lg-medium-underline-text-decoration-line: underline;

    --label-lg-bold-underline-font-family: 'Work Sans';
    --label-lg-bold-underline-font-size: 18px;
    --label-lg-bold-underline-font-style: normal;
    --label-lg-bold-underline-font-weight: 600;
    --label-lg-bold-underline-line-height: 28px;
    --label-lg-bold-underline-text-decoration-line: underline;

    
    
    /* --- Button --- */
    --colour-button-primary-default-border: rgba(255, 255, 255, 0.00);
    --colour-button-primary-default-bg: #46070B;
    --colour-button-primary-default-fg: #FFF;

    --colour-button-secondary-default-border: #46070B;
    --colour-button-secondary-default-bg: #FFF;
    --colour-button-secondary-default-fg: #46070B;

    --colour-button-tertiary-default-border: rgba(255, 255, 255, 0.00);
    --colour-button-tertiary-default-bg: #F7F5F3;
    --colour-button-tertiary-default-fg: #190402;

    --colour-button-ghost-default-border: rgba(255, 255, 255, 0.00);
    --colour-button-ghost-default-bg: rgba(255, 255, 255, 0.00);
    --colour-button-ghost-default-fg: #46070B;

    --colour-button-danger-default-border: #CD1127;
    --colour-button-danger-default-bg: #FFF;
    --colour-button-danger-default-fg: #CD1127;

    /* Hover */
    --colour-button-primary-hover-border: rgba(255, 255, 255, 0.00);
    --colour-button-primary-hover-bg: #4876CE;

    --colour-button-secondary-hover-border: #46070B;
    --colour-button-secondary-hover-bg: #FAEDEE;

    --colour-button-tertiary-hover-border: rgba(255, 255, 255, 0.00);
    --colour-button-tertiary-hover-bg: #EEEBE7;

    --colour-button-ghost-hover-border: rgba(255, 255, 255, 0.00);
    --colour-button-ghost-hover-bg: #F7F5F3;

    --colour-button-danger-hover-border: #CD1127;
    --colour-button-danger-hover-bg: #FAEDEE;

    /* Focus */
    --colour-button-primary-focus-border: #FFF;
    --colour-button-primary-focus-bg: #4876CE;

    --colour-button-secondary-focus-border: #46070B;
    --colour-button-secondary-focus-bg: #FAEDEE;

    --colour-button-tertiary-focus-border: #FFF;
    --colour-button-tertiary-focus-bg: #EEEBE7;

    --colour-button-ghost-focus-border: #FFF;
    --colour-button-ghost-focus-bg: #F7F5F3;

    --colour-button-danger-focus-border: #CD1127;
    --colour-button-danger-focus-bg: #FAEDEE;

    /* Press */
    --colour-button-primary-press-border: rgba(255, 255, 255, 0.00);
    --colour-button-primary-press-bg: #275DC5;

    --colour-button-secondary-press-border: #46070B;
    --colour-button-secondary-press-bg: #F6DADD;

    --colour-button-tertiary-press-border: rgba(255, 255, 255, 0.00);
    --colour-button-tertiary-press-bg: #DAD8D4;

    --colour-button-ghost-press-border: rgba(255, 255, 255, 0.00);
    --colour-button-ghost-press-bg: #EEEBE7;

    --colour-button-danger-press-border: #CD1127;
    --colour-button-danger-press-bg: #F6DADD;

    /* --- Link button --- */
    --colour-button-link-default-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-default-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-default-fg: #2051A7;

    --colour-button-link-neutral-default-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-default-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-default-fg: #190402;

    /* Link button hover */
    --colour-button-link-hover-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-hover-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-hover-fg: #133A6A;

    --colour-button-link-neutral-hover-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-hover-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-hover-fg: #133A6A;

    /* Link button focus */
    --colour-button-link-focus-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-focus-fg: #133A6A;

    --colour-button-link-neutral-focus-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-focus-fg: #133A6A;

    /* Link button press/active */
    --colour-button-link-press-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-press-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-press-fg: #0C2F4B;

    --colour-button-link-neutral-press-border: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-press-bg: rgba(255, 255, 255, 0.00);
    --colour-button-link-neutral-press-fg: #0C2F4B;

    /* Link */

    --colour-fg-default: #190402;
    --colour-fg-muted: #52504E;
    --colour-fg-interactive: #CD1127;
    --colour-fg-danger: #A00E1E;

    /* Focus */
    --colour-focus-default: #4876CE;
    --colour-focus-success: #52ABA3;
    --colour-focus-danger: #DD515B;

    /* Focus outline */
    --focus-default: 0px 0px 0px 4px #4876ce;
    --focus-success: 0px 0px 0px 4px #52ABA3;
    --focus-danger: 0px 0px 0px 4px #DD515B;

    /* Search */
    --colour-border-danger: #CD1127;
    --colour-border-strong: #8D8A88;
    --colour-border-interactive: #275dc5;

    --colour-fg-placeholder: #797774;


  
    /* Border radius */
    --border-radius-round: 999px;
    --border-radius-sm: 4px;
  
    /* Spacing */
    --spacing-space-1: 2px;
    --spacing-space-2: 4px;
    --spacing-space-3: 6px;
    --spacing-space-4: 8px;
    --spacing-space-5: 12px;
    --spacing-space-6: 16px;
    --spacing-space-7: 20px;
    --spacing-space-8: 24px;
    --spacing-space-9: 32px;
    --spacing-space-10: 40px;
    --spacing-space-11: 48px;
    --spacing-space-12: 56px;
    --spacing-space-13: 64px;
    --spacing-space-14: 80px;
    --spacing-space-15: 96px;
  
    /* Icon sizes */
    --icon-size-md: 24px;
    --icon-size-sm: 20px;

      /* Motion Tokens */
    --motion-easing-standard: cubic-bezier(0.3, 0, 0.1, 1.0);
    --motion-easing-enter: cubic-bezier(0, 0.2, 0.1, 1.0);
    --motion-easing-exit: cubic-bezier(0.3, 0, 0.8, 0.15);

    /* Duration Tokens */
    --motion-duration-short-1: 100ms;
    --motion-duration-short-2: 150ms;
    --motion-duration-medium-1: 200ms;
    --motion-duration-medium-2: 350ms;
    --motion-duration-long-1: 500ms;
    --motion-duration-long-2: 700ms;
  }

  @font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  }
